@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

.main__titulo {
  color: #117f4e;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 3px 0px 0px #8C6F4A;
}

.main__titulos {
  color: #8C6F4A;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 2px 0px 0px #212121;
}

.titulo-lineas {
  color: #212121;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 0px 0px 15px #117f4e;
}

.bg-marron {
  background-color: #cc9a2f;
}

.bg-negro {
  background-color: #212121;
}

/* Navbar */
.nav-link__fuente {
  font-family: 'Fjalla One', sans-serif;
}

.nav-bar__dropdown-item {
  font-family: 'Fjalla One', sans-serif;
}

.button--dropdown:focus {
  background-color: #117F4E;
}

/* tamaño y Hover Logo */
.nav-bar__logo {
  width: 110px;
}

.nav-bar__logo:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/* Animaciones CARDS */
/* Boton Whatsapp */
.whatsapp-button {
  z-index: 100;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  background-color: #25d366;
  padding: 5px;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

.card-titulo-hover:hover {
  color: #117f4e;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 991px) {
  .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Formulario de Contacto */
.botones-form_enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1rem;
  border-radius: 10px;
  border: 5px solid #8C6F4A;
  background-color: white;
}

.botones-form_enviar:hover {
  background-color: #117f4e;
  border-color: #8C6F4A;
}

.botones-form_enviar:active {
  border-color: #117f4e;
}

.botones-form_resetear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1rem;
  border-radius: 10px;
  border: 5px solid #8C6F4A;
  background-color: white;
}

.botones-form_resetear:hover {
  background-color: #117f4e;
}

.botones-form_resetear:active {
  border-color: #117f4e;
}

.tituloForm {
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.form button {
  padding: 10px;
  border: none;
  font-style: italic;
  font-size: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 991px) {
  .form {
    width: 100%;
  }
}

/* MAPS */
@media (max-width: 991px) {
  .mapa {
    width: 100%;
  }
}

/* Footer */
.footer-nav {
  list-style: none;
  color: white;
  text-decoration: none;
}

.footer-nav:hover {
  color: #8C6F4A;
}

.footer-widgets {
  text-align: center;
}

.border-bottom_nav {
  border-bottom: 2px solid white;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boton-facebook, .boton-instagram, .boton-linkedin {
  border-radius: 10px;
}

.boton-facebook {
  color: #117f4e;
}

.boton-facebook:hover {
  color: #8C6F4A;
}

.boton-instagram {
  color: #117f4e;
}

.boton-instagram:hover {
  color: #8C6F4A;
}

.boton-linkedin {
  color: #117f4e;
}

.boton-linkedin:hover {
  color: #8C6F4A;
}

.productos-tamanio {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botones-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
}

.btn-celiacos {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
  color: white;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #8C6F4A), color-stop(50%, #117f4e));
  background-image: linear-gradient(to left, #8C6F4A 50%, #117f4e 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transition: background-position .5s ease;
  transition: background-position .5s ease;
}

.btn-celiacos:hover {
  background-position: left;
  color: white;
}

.btn-ensaladas {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #8C6F4A), color-stop(50%, #117f4e));
  background-image: linear-gradient(to right, #8C6F4A 50%, #117f4e 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-transition: background-position .5s ease;
  transition: background-position .5s ease;
}

.btn-ensaladas:hover {
  background-position: right;
  color: white;
}

@media (max-width: 991px) {
  .productos-tamanio {
    width: 100%;
  }
}

#galeriaDesayunos img {
  width: 100%;
  height: 200px;
  padding: 10px;
}

.btn-pedidos {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  color: #117f4e;
  border: 2px solid;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #117f4e)) no-repeat left/200%;
  background: linear-gradient(to right, transparent 50%, #117f4e 50%) no-repeat left/200%;
  -webkit-transition: background-position 0.3s ease;
  transition: background-position 0.3s ease;
}

.btn-pedidos:hover {
  background-position: right;
  color: #212121;
  border: 2px solid #117f4e;
}

.card-hover {
  -webkit-transition: 1s;
  transition: 1s;
}

.card-hover:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.glide__images {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-gris {
  color: #6C757D;
}

.marcas-tamanio {
  height: 200px;
  width: 200px;
}

/* font-family: 'Fjalla One', sans-serif; */
body::-webkit-scrollbar {
  width: 7px;
  background: #212121;
}

body::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 8px;
}

.fondo-rojo {
  background-color: red;
}

.c-marron {
  color: #8C6F4A;
}

.c-verde {
  color: #117f4e;
}

.c-black {
  color: black;
}

.c-white {
  color: white;
}

.fondo-verde {
  background-color: #117f4e;
}

.form {
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  background: url("../images/cafe.jpeg");
  background-size: cover;
  border-radius: 30px;
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 991px) {
  .form {
    width: 100%;
  }
}

.tamanio-10px {
  font-size: 10px;
}

.tamanio-15px {
  font-size: 15px;
}

.tamanio-20px {
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

footer {
  color: white;
  background-color: #212121;
}

footer div a {
  font-size: 20px;
}

.imgRedonda {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  border-color: #117f4e;
  border-style: solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */