//variables
@import 'colores';
@import 'pages/index';
@import 'pages/productos';
@import 'pages/catering';
@import 'pages/desayunos';
@import 'pages/corporativo';

/* font-family: 'Fjalla One', sans-serif; */

//Scrollbar personalizado (no funciona en: Firefox y Edge)
body::-webkit-scrollbar {
    width: 7px;
    background: $negro;
}
body::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 8px;
}
// Clases para colorear
.fondo-rojo{
    background-color: red;
}
.c-black{color:black
}
.c-white{
    color:white
}
.fondo-verde{
    background-color: $verde;
}
@mixin destacar($background, $color){
    background-color:$background;
    color:$color;
}
.botones-form_enviar{
    display: flex;
    justify-content: start;
    font-size:20px;
    border-radius: 10px;
    border: 5px solid $marron;
    background-color: white;
}
.botones-form_enviar:hover{
    background-color: $verde;
}
.botones-form_enviar:active{
    border-color: $verde;
}
.botones-form_resetear{
    display: flex;
    justify-content: start;
    font-size:20px;
    border-radius: 10px;
    border: 5px solid $marron;
    background-color: white;
}
.botones-form_resetear:hover{
    background-color: $verde;
}
.botones-form_resetear:active{
    border-color: $verde;
}

// Tuve que agregar el form al main.scss porque sino no reconoce el background url y lo saltea(el watch SASS)
.form{
    color:white;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background: url("../images/cafe.jpeg");
    background-size: cover;
    border-radius: 30px;
    width: 50%;    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 991px) { 
    .form{width: 100%;}
}


@mixin seccion($enviar){
    @if $enviar==footer{
        color:white;
        background-color: $negro;
    }@else if $enviar==tabla{
        color:$marron;
        background-color: white;
    }@else if $enviar==cuadro{
        color:red;
        background-color: white;
    }@else {
        color:white;
        background-color:pink;
    }
}
// Each
@each $size in 10px, 15px, 20px{
    .tamanio-#{$size}{
        font-size:$size;
    }
}


html{
    scroll-behavior: smooth;
}
//
footer{
    @include seccion(footer);
    div a{
        font-size: 20px;
    }
}

.imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
    border-color: $verde;
    border-style: solid;
    justify-content: center;
}




