.glide-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.marcas-tamanio{
    height: 12rem;
    width: 12rem;
}

@media screen and (max-width:880px) {
    .marcas-tamanio{
        height: 10rem;
        width: 10rem;
    }
    
}