html{
    scroll-behavior: smooth;
}
.main__titulo{
    color:$verde;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 3px 0px 0px $marron;
}
.main__titulos{
    color:$marron;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 2px 0px 0px $negro;
}
.titulo-lineas{
    color:$negro;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0px 0px 15px $verde;
}

.bg-marron{background-color:rgb(204,154,47);
}
.bg-negro{
    background-color: $negro;
}

/* Navbar */
.nav-shadow {
    box-shadow:(black 0px 0px 10px)
}
.nav-link__fuente{
    font-family: 'Fjalla One', sans-serif;
}
.nav-bar__dropdown-item{
    font-family: 'Fjalla One', sans-serif;
}
.button--dropdown:focus{
    background-color: #117F4E;
}
/* tamaño y Hover Logo */
.nav-bar__logo{
    width: 110px;
    &:hover{
        transform: translateY(-3px); 
    }
}

/* Animaciones CARDS */


/* Boton Whatsapp */
.whatsapp-button{
    z-index: 100;
}
.float{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	background-color:#25d366;
    padding: 5px;
	color:#FFF;
	border-radius:50px;
    text-align:center;
    font-size:2rem;
	box-shadow: 2px 2px 3px #999;
}
    .float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}

//Cards
.card-titulo-hover:hover{
    color: $verde;
}
.cards-container{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 991px) { 
    .cards-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}

/* Ubicación */
// IMG redonda de la confiteria por fuera
.img-redonda {
    width:300px;
    height:300px;
    border-radius:150px;
    border-color: $verde;
    border-style: solid;
    justify-content: center;
}

/* MAPS */
@media (max-width: 991px) { 
    .mapa{width: 100%;}
}
/* Footer */
.footer-nav{
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 0;
    &:hover{
        color:$marron;
    }
}
.footer-widgets{
    text-align: center;
}
.border-bottom-nav{
    border-bottom: 2px solid white;
    width: 100%;
    justify-content: center;
    padding: 5px;
    display: flex;
}



%boton{
    border-radius: 10px;
}
.boton-facebook{
    @extend %boton;
    color: $verde;
    &:hover {
        color:$marron;
    }
}
.boton-instagram{
    @extend %boton;
    color: $verde;
    &:hover {
        color:$marron;
    }
}
.boton-linkedin{
    @extend %boton;
    color: $verde;
    &:hover {
        color:$marron;
    }
}
