html{
    scroll-behavior: smooth;
}
.main__titulos{
    color:$marron;
    font-family: 'Fjalla One', sans-serif;
}

.bg-marron{background-color:rgb(204,154,47);
}
.bg-negro{
    background-color: $negro;
}

/* Navbar */
.nav-link__fuente{
    font-family: 'Fjalla One', sans-serif;
}
.nav-bar__dropdown-item{
    font-family: 'Fjalla One', sans-serif;
}
.button--dropdown:focus{
    background-color: #117F4E;
}
/* tamaño y Hover Logo */
.nav-bar__logo{
    width: 110px;
    &:hover{
        transform: translateY(-3px); 
    }
}

/* Animaciones CARDS */


/* Boton Whatsapp */
.whatsapp-button{
    z-index: 100;
}
.float{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	background-color:#25d366;
    padding: 5px;
	color:#FFF;
	border-radius:50px;
    text-align:center;
    font-size:2rem;
	box-shadow: 2px 2px 3px #999;
}
    .float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:16px;
}

//Cards
.cards-container{
    display: flex;
    justify-content: space-around;
}
@media (max-width: 991px) { 
    .cards-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}

/* Formulario de Contacto */
.form{
    color:white;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background: url("../../images/cafe.jpeg");
    background-size: cover;
    border-radius: 30px;
    width: 50%;    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
.tituloForm{
    color:white;
}
.form button{
    padding: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width: 991px) { 
    .form{width: 100%;}
}
/* MAPS */
@media (max-width: 991px) { 
    .mapa{width: 100%;}
}
/* Footer */
.footer-nav{
    list-style: none;
    color: white;
    text-decoration: none;
    &:hover{
        color:$marron;
    }
}
.footer-widgets{
    text-align: center;
}
.border-bottom_nav{
    border-bottom: 1px solid white;
    width: 100%;
    justify-content: center;
    padding: 5px;
    display: flex;
}
%boton{
    border-radius: 10px;
}
.boton-facebook{
    @extend %boton;
    color: $marron;
    &:hover {
        color:$marron;
    }
}
.boton-instagram{
    @extend %boton;
    color: $marron;
    &:hover {
        color:$marron;
    }
}
.boton-linkedin{
    @extend %boton;
    color: $marron;
    &:hover {
        color:$marron;
    }
}
